{{ define "content" }}
<div class="pointer-events-none h-screen min-h-[300px] max-h-[60svh]">
  <mapbox-component
    access-token="pk.eyJ1IjoiY2FsZWJiYXJuZXMiLCJhIjoiY2xnNXg1YjA0MDY2cDNkcjBnNTRxbnM3NiJ9.4G8Hgqc0RqhklCFi2Rrp5g"
    zoom="2"
    controls
    center="[-90, 40]"
    lat="49.28"
    lng="-123.12"
  ></mapbox-component>
</div>

<div class="edges mt-12 relative">
  <h1>This is the contact page template</h1>

  <p class="mb-10 max-w-2xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
    voluptatibus, quibusdam, quia, voluptatem voluptatum quod quos
    voluptates quas doloribus quidem natus. Quisquam voluptatibus,
    quibusdam, quia, voluptatem voluptatum quod quos voluptates quas
    doloribus quidem natus.
  </p>

  <div hx-ws="connect:/ws">
    <div id="messages">
      ...
    </div>
    <form hx-ws="send">
        <input name="message">
    </form>
  </div>

  <example-component world="World" another-attribute="What's up?"></example-component>
  <example-timer world="World" another-attribute="What's up?"></example-timer>
    
  <div class="max-w-md my-4">
    <h2 class="mb-4">Contact Form</h2>
    <form id="my-test-form">
      <input name="name" type="text" value="my name" placeholder="Name" class="w-full mb-4 p-2 text-black" />
      <input name="email" type="email" value="you@example.com" placeholder="you@example.com" class="w-full mb-4 p-2 text-black" />
      <button class="btn btn-default">Submit</button>
    </form>
  </div>

  <div>
    <div class="w-full max-w-md relative my-10">
      <img class="object-contain" {{ imageProps "https://images.unsplash.com/photo-1682687981630-cefe9cd73072"  }} />
    </div>
  </div>
</div>
{{ end }}
