{{ define "head" }}
<head>
  <meta charset="UTF-8" />
  <title>{{ .Seo.Title }}</title>
  <meta name="description" content="{{ .Seo.Description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/static/css/main.css?v={{ .Version }}" />

  <link
    rel="icon"
    type="image/x-icon"
    href="/static/favicon.ico?v={{ .Version }}"
  />

  <!-- <script
    defer
    src="https://unpkg.com/htmx.org@1.9.6/dist/htmx.min.js"
  ></script> -->

  <!-- <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
  /> -->
</head>
{{ end }}
