@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}
.button {
  @apply px-5 py-2;
  &-default {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
  }
  &-link {
    @apply underline;
    &:after {
      content: " >";
    }
  }
}
.edges-sm {
  @apply max-w-3xl mx-auto px-4 sm:px-6 lg:px-8;
}
.edges,
.edges-md {
  @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
}
.edges-lg {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply text-base;
}

/* 
  a {
    @apply text-blue-500;
  } */

/* a:hover {
    @apply text-blue-700;
  } */

blockquote {
  @apply border-l-4 border-gray-200 italic my-8 pl-8 py-4;
}

code {
  @apply bg-gray-200 font-mono px-2 py-1 rounded;
}

pre {
  @apply bg-gray-200 font-mono overflow-auto p-4 rounded;
}

pre code {
  @apply bg-transparent font-normal p-0;
}
