{{ define "widget-placeholder" }}
<div
  role="status"
  class="max-w-sm animate-pulse rounded border border-gray-200 p-4 shadow dark:border-gray-700 md:p-6"
>
  <div
    class="mb-2.5 h-2.5 w-32 rounded-full bg-gray-200 dark:bg-gray-700"
  ></div>
  <div class="mb-10 h-2 w-48 rounded-full bg-gray-200 dark:bg-gray-700"></div>
  <div class="mt-4 flex items-baseline">
    <div class="h-72 w-full rounded-t-lg bg-gray-200 dark:bg-gray-700"></div>
    <div
      class="ms-6 h-56 w-full rounded-t-lg bg-gray-200 dark:bg-gray-700"
    ></div>
    <div
      class="ms-6 h-72 w-full rounded-t-lg bg-gray-200 dark:bg-gray-700"
    ></div>
    <div
      class="ms-6 h-64 w-full rounded-t-lg bg-gray-200 dark:bg-gray-700"
    ></div>
    <div
      class="ms-6 h-80 w-full rounded-t-lg bg-gray-200 dark:bg-gray-700"
    ></div>
    <div
      class="ms-6 h-72 w-full rounded-t-lg bg-gray-200 dark:bg-gray-700"
    ></div>
    <div
      class="ms-6 h-80 w-full rounded-t-lg bg-gray-200 dark:bg-gray-700"
    ></div>
  </div>
  <span class="sr-only">Loading...</span>
</div>
{{ end }}
